* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}


/**navbar**/
.navgrid{
  display: grid;
  grid-area: nav;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%; /* Set the navbar to fixed position */
  grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". logo logo logo logo menu menu ."
}

/**logo**/
.navlogo{
  grid-area: logo;
  padding-top: 3em;
}

/**menubox**/
.menuoptions{
  grid-area: menu;
}

.name{
  grid-area: logo;
  font-family: oswald;
  font-size: 24px;
  color: #36431D;
  padding-top: 1em;
  padding-left: 2.3em;
}


.navmenu {
  display: grid;
  grid-template-columns: 5em 4em 5em;
  font-size: 24px;
  padding-top:1.5em;
  padding-bottom:1.5em;
}

.nav-title {
  font-family: oswald;
  font-size: 24px;
  margin: 0 auto;
  padding: 1rem 0;
  color: #36431D;
  text-align: center;

}

.nav-title:hover {
  font-family: oswald;
  font-size: 24px;
  margin: 0 auto;
  padding: 1rem 0;
  text-decoration: none;
  color: #C87B84;
  text-align: center;
}

.projectsmenu {
  grid-column: 1 / 1;
  text-align: center;
}

.aboutmenu {
  grid-column: 2 / 2;
  text-align: center;
}

.contactmenu {
  grid-column: 3 / 3;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #36431D;
}

a:visited {
  text-decoration: none;
  color: #36431D;
}


a:active {
  text-decoration: none;
  color: none;
}

/**end nav bar css**/

/**start about me hero**/


/**entire wrapper**/
.wrapper {
  display: grid;
  grid-template-columns: .5fr repeat(6, 1fr) .5fr;
  grid-template-rows: 1fr, repeat(8, auto);
  grid-template-areas:
    " nav nav nav nav nav nav nav nav "
    ". me me me me me me ."
    ". looking looking looking looking looking looking ."
    ". cando cando cando cando cando cando ."
    ". like like like like like like ."
    ". history history history history history history ."
    ". photos photos photos photos photos photos ."
    ". footer footer footer footer footer footer ."
}

/**about me section**/
.about-me-grid {
  grid-area: me;
  background-color: #36431D;
  color: white;
}

.me{
  height: 542px;
  width: 404px;
}

/**looking for section**/
.lookingfor {
  display: grid;
  grid-area: looking;
  grid-template-columns: 10px 10px auto 10px 10px;
  grid-template-rows: .25fr 1fr .25fr;
  grid-template-areas:
    ". . . . ."
    ". . cntr . ."
    ". . . . ."

}

.centergrid{
  grid-area: cntr;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr .1fr .5fr .25fr;
  grid-template-areas:
    ". . ."
    ". line ."
    ". titl ."
    ". para ."
    ". . ."

}

.shortlineblack {
  grid-area: line;
  text-align: center;
}

.sectionbody {
  grid-area: para;
  text-align: center;

  font-family: "work sans";
  font-size: 16pt;
  font-weight: lighter;


}

.sectiontitle {
  grid-area: titl;
  text-align: center;

  font-family: "abel";
  font-size: 22pt;
  font-weight: lighter;

}

/**cando**/

.cando {
  background-color: #C87B84;
  display: grid;
  grid-area: cando;
  grid-template-columns: 10px 10px auto 10px 10px;
  grid-template-rows: .25fr .51fr .51fr;
  grid-template-areas:
    ". . . . ."
    ". . cntr . ."
    ". . list . ."
}

.candocontent{
  display: grid;
  grid-area: list;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr;
  grid-template-areas:
    ". lst1 lst2 .";

}

ul{
  list-style-type: none;
  text-align: center;
}

.candolist1{
  grid-area: lst1;
  text-align: center;
}

.candolist2{
  grid-area: lst2;
  text-align: center;
}

}

.bodyfont{
  grid-column-start: 3;
  grid-row-start: 2;
  font-family: "work sans";
  font-weight: lighter;
  font-size: 18pt;
  line-height: 24pt;
}

/**hobbies**/

.liketodo {
  grid-area: like;
  background-color: #C87B66;
  display: grid;
  grid-template-columns: 10px 10px auto 10px 10px;
  grid-template-rows: .5fr 1fr .5fr;
  grid-template-areas:
    ". . cntr . ."
    ". . hbby . ."
    ". . like . ."
}

.likecontent {
  display: grid;
  grid-area: hbby;
  grid-template-columns: 5, 1fr;
  grid-template-rows: 1, 1fr;
  grid-template-areas:
  " hiking globe headphone camera media ";
  align-items: center;
  text-align: center;

}

.hiking{
  grid-area: hiking;
}
.globe{
  grid-area: globe;
}
.headphone{
  grid-area: headphone;
}
.camera{
  grid-area: camera;
}
.media{
  grid-area: media;
}

.timeline {
  grid-area: history;
  background-color: orange;
}

/**photoalbums**/

.photoalbum {
  grid-area: photos;
  background-color: pink;
  display: grid;
  grid-template-columns: 10px 10px auto 10px 10px;
  grid-template-rows: .5fr 1fr .5fr;
  grid-template-areas:
    ". . cntr . ."
    ". . albm . ."
    ". . spce . ."
}

.photocontent {
  display: grid;
  grid-area: albm;
  grid-gap: 30px;
  max-width: 960px;
  margin: 0 auto 30px;
  grid-template-columns: 2(1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  " kitty kitty"
  " kitty kitty"
  " kitty kitty"
  " kitty kitty";
  text-align: center;
}

.article-img {
display:grid;
grid-area: kitty;
height: 300px;
width: 100%;
object-fit: cover;
align-items: center;

}

.article-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);

}


article {
  position: relative;
}


/** footer content **/

.footer{
  grid-area: footer;
  width: 100%;
}

.footercontent{
  display: grid;
  grid-area: list;
  grid-template-columns: 2fr .25fr .1fr .1fr .25fr 2fr;
  grid-template-rows: 2fr;
  grid-template-areas:
    "bttn bttn bttn bttn bttn bttn"
    ". . lnkd gthb . .";
}

/**all work completed by me**/
.footerpara {
  padding-top: 6em;
  padding-bottom: 1em;
  font-family: "open sans", sans-serif;
  font-size: 1.5em;
  align-items:center;

}

.contactmebutton {
  text-align: center;
  grid-area: bttn;
}


.linkedin {
  text-align: center;
  grid-area: lnkd;
  padding-top: 5em;
  padding-right: 1em;
  padding-bottom: 10em;
}

.github{
  text-align: center;
  grid-area: gthb;
  padding-top: 5em;
  padding-left: 1em;
  padding-bottom: 10em;
}

.greyfooter{
  text-align: center;
}

.minitype{
  font-family: "open sans";
  background-color: #4A4A4A;
  font-size: 1em;
  color: #FFFFFF;
  height: 8em;
  padding: 3em;
}

.bodytype {
  font-family: "open sans";
  background-color: #4A4A4A;
  font-size: 1em;
  color: #FFFFFF;
  height: 8em;
  padding: 3em;
}
