

  #contactForm {
      padding-top: 20em;
      margin: 0 auto;
}

  #contactForm input, textarea {
      font-family: "work sans";

      color: #000;
      background-color: RGBA(204, 204, 204, .1);

      outline: none; border: none;

      display:block;
      margin: 0 auto;
      padding: 1em;
      width: 90%;
      max-width: 370px;
 }

#contactForm textarea {
  height: 150px;
}

#contactForm *:focus {
   background-color: #C3E9E9;
}

#contactForm *:hover {
   background-color: #C3E9E9;
}

::-webkit-input-placeholder {
      color: #777;
}

:-moz-placeholder { /* Firefox 18- */
      color: #777;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #777;
}

:-ms-input-placeholder {
       color: #777;
}
