/**hero**/




.problem-solution{
  padding-bottom: 30px;
  background-color: #F1F1F1;

}


.hero-photo{
  background-image: url(../images/fileweave/hero-photo.png);
  z-index: -1;
  background-repeat: repeat;
  background-size:cover;
  background-position:center;
  width: 100%;
  height: 100%;
}


.herotitle{
  grid-area: main;
  z-index:20;
  align-self: flex-start;
  text-align: center;
  font-family: "open sans";
  font-size: 3.0rem;
  font-weight: lighter;
  padding-top: 2em;

}

@media(max-width: 1000px){
.hero-photo{
  background-image: url(../images/fileweave/hero-photo.png);
  background-repeat: repeat;
  background-size:cover;
  background-position:center;
  width: 100%;
  height: 100%;
}


.hero-photo img{
  width: 100%;
  display: flex;

}

.herotitle{
  grid-area: main;
  z-index:20;
  align-self: flex-start;
  text-align: center;
  font-family: "open sans";
  font-size: 2.4rem;
  font-weight: lighter;
  padding-top: 5em;
}
}




@media(max-width: 575px){
  .herotitle{
    z-index:20;
    align-self: flex-start;
    text-align: center;
    font-family: "open sans";
    font-size:2.0rem;
    font-weight: lighter;
    padding: 5em 2em 1em 2em;
    color: black;
  }
  .hero-photo{
    background-image: url(../images/fileweave/hero-photo.png);
    width: 100%;
    height: 70%;
    z-index: -1;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;

  }


  .hero-photo img{
    width: 100%;
    display: flex;

  }
}


/**mobile**/

@media(max-width: 375px){
  .herotitle{
    z-index:20;
    align-self: flex-start;
    text-align: center;
    font-family: "open sans";
    font-size:2.0rem;
    font-weight: lighter;
    padding: 3em 4em 2em 4em;
    color: black;
  }
  .hero-photo{
    background-image: url(../images/fileweave/hero-photo.png);
    width: 100%;
    height: 50%;
    z-index: -1;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;

  }


  }

/**hero**/


/**roles**/
.icon{
  height: 5em;
  width: 5em;
}

.grid3{
  display: grid;
  grid-template-columns: .7fr .5fr .5fr .5fr .7fr;
  grid-template-areas:
  ". roles deliverables tools .";
  text-align: center;
}

  .deliverables{
    grid-area: deliverables;
  }

  .roles{
    grid-area: roles;
  }

  .tools{
    grid-area: tools;
  }


  ul {
    list-style-type: none;
  }


@media(max-width: 37em){
  .icon{
    height: 3em;
    width: 3em;
  }

  .grid3{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". roles ."
    ". deliverables ."
    ". tools .";
    text-align: center;
  }

  .deliverables{
    grid-area: deliverables;
  }

  .roles{
    grid-area: roles;
  }

  .tools{
    grid-area: tools;
  }


  ul {
    list-style-type: none;
  }

}

.research{
text-align: center;
}

.surveytitle{
  text-align: left;
}



/**personas**/

.personas{
  background-color: #F1F1F1F1;
}

@media(max-width: 37em){
  .personaimage{
    margin: 4em;
    max-width: 200px;
    height: auto;
  }
}

.personaimage{
  margin: 4em;
  max-width: 200px;
  height: auto;
}

/**SWOT**/

.swotgrid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
  grid-template-rows: auto;
  grid-template-areas:
  ". drive dropbox tresorit .";
  text-align: center;
  justify-items: center;
  padding-top: 4em;
}
@media(max-width:37em){
  .swotgrid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: .2fr 1fr 1fr 1fr .2fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". drive dropbox tresorit .";
    text-align: center;
    justify-items: center;
    padding-top: 4em;
  }
}
.drive{
grid-area: drive;
}

.dropbox{
grid-area: dropbox;
}

.tresorit{
grid-area: tresorit;
}

.swotimage{
  height: 7em;
  width: auto;
}

.swot-explaination{
  border-style: dashed;
  border-radius: 10px;
  padding: 3em;
  min-height: 270px;
  height:340px;
  max-height:340px;
}



.contentswot {
  text-align: center;
  font-family: "work sans";
  font-size: 1.2em;
  font-weight: lighter;
  line-height: 1.3em;
}



@media(max-width: 900px){
  .swotgrid {
    display: grid;
    grid-template-columns:.2fr 1fr .2fr;
    grid-template-areas:
    ". dropbox ."
    ". drive ."
    ". tresorit .";
    font-family: "open sans";
    font-size: 1.2em;
    text-align: center;
  }
}

@media(max-width: 375px){
  .swot-explaination{
    height: 600px;
  }
};




/**story beginning**/

/**story beginning**/

.story-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:5px;
    text-align: center;
    font-family: "open sans";
    font-size: 1.2rem;
    font-weight: regular;
    margin: 2em 2em 2em 2em;
}

.story-table > span {
    padding: 8px 4px;
    background-color:#CFD9E2;

}

.stories{
  background-color: #f1f1f1;
}

@media(max-width: 575px){
  .story-table {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap:5px;
      text-align: center;
      font-family: "open sans";
      font-size: 1.2rem;
      font-weight: regular;
      margin: 2em 2em 2em 2em;
  }

  .story-table > span {
      padding: 8px 4px;
      background-color:#CFD9E2;

  }
}

/**survey start**/

.survey-results{
display: table;
padding-right: 3em;
margin-bottom: -5em;
margin-left: 5em;
}

h6{
  font-family: "work sans";
  font-size: 1.6em;
  font-weight: 200;
}

#title {

  font-size: 2.4em;
  margin-bottom: 1em;
  margin-top: .5em;
  text-align: center;
  padding-right: 3em;
}

.survey-analysis{
  display: inline-block;
  padding-bottom: 5em;
}

.surveybox{
  margin-left: 20px;
}

@media(max-width: 575px){
  .survey-results{
  display: table;
  }

  #title {
    font-size: 2em;
    margin-bottom: .5em;
    margin-top: 1em;
    text-align: center;
    padding-right: 1em;
  }
}

.flow-image{
  margin: 4em;
  max-width: 70em;
  height: auto;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


@media(max-width: 37em){
  .flow-image{
    margin: 4em;
    max-width: 200px;
    height: auto;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

/**sketches**/
.sketch{
  background-color: #F1F1F1;
  padding-bottom: 2em;
}


/**user testing**/

.testing{
  background-color: #F1F1F1;
}

.testing1{
  grid-area: testing;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 3 auto;
  grid-template-areas:
  ". item1 ."
  ". item2 ."
  ". item3 .";
  }

.testresults1{
  grid-area: item1;
}

.testresults2{
  grid-area: item2;
}

.testresults3{
  grid-area: item3;
}

/**ab testing**/


.abtest{
  grid-area: testing;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: .5fr 1fr 1fr .5fr;
  grid-template-rows: 2 auto;
  grid-template-areas:
  ". ab1 ab3 ."
  ". ab4 ab2 .";
}

.abone{
  grid-area: ab1;
  max-width: 35em;
  height: auto;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.abtwo{
  grid-area: ab2;
  max-width: 35em;
  height: auto;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.abthree{
  grid-area: ab3;
  max-width: 35em;
  height: auto;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.abfour{
  grid-area: ab4;
  max-width: 35em;
  height: auto;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 100%;
}



@media(max-width: 37em){
  .flow-image{
    margin: 4em;
    max-width: 200px;
    height: auto;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

/**mockup**/

.hi-fi-mockups{
  display: grid;
  grid-gap: 2em;
  grid-template-columns: .5fr 1fr 1fr .5fr;
  grid-template-rows: 4 auto;
  grid-template-areas:
  ". mock1 mock2 ."
  ". mock1 mock3."
  ". mock1 mock4."
  ". mock1 mock5.";
}

.mockup1{
 grid-area:mock1;
 width: 90%;
 height: auto;
 max-width: 400px;
}
.mockup2{
 grid-area:mock2;
}
.mockup3{
 grid-area:mock3;
}
.mockup4{
 grid-area:mock4;
}
.mockup5{
 grid-area:mock5;
}

.mockupgrid{
  grid-area:head;
  text-align: left;
  display: grid;
  grid-template-columns: .7fr 1fr .7fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
  " . title ."
  " . para .";

}

.mockup2, .mockup3, .mockup4, .mockup5{
width: 110%;
height: auto;
max-width: 600px;
}



@media(max-width: 55em){
  .hi-fi-mockups{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: .25fr 1fr .25fr;
    grid-template-rows: 5 auto;
    grid-template-areas:
    ". mock1 ."
    ". mock2 ."
    ". mock3 ."
    ". mock4 ."
    ". mock5 .";
  }

  .mockup1{
   grid-area:mock1;
   width: 100%;
   height: auto;
   max-width: 600px;
  }
  .mockup2{
   grid-area:mock2;
  }
  .mockup3{
   grid-area:mock3;
  }
  .mockup4{
   grid-area:mock4;
  }
  .mockup5{
   grid-area:mock5;
  }

  .mockupgrid{
    grid-area:head;
    text-align: left;
    display: grid;
    grid-template-columns: .7fr 1fr .7fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    " . title ."
    " . para .";

  }

  .mockup2, .mockup3, .mockup4, .mockup5{
  width: 100%;
  height: auto;
  max-width: 600px;

  }

}

/**dividers**/

.divider1, .divider2, .divider3, .divider4, .divider5,
.divider6, .divider7, .divider8{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size:cover;

}


/**text grid**/

.sitemap{

background-image: url(../images/fileweave/sitemap.png);
background-repeat: repeat;
background-size:cover;
background-position:center;
width: 100%;
height: 100%;
}


.flow{
background-image: url(../images/fileweave/userflows.png);
background-repeat: repeat;
background-size:cover;
background-position:center;
width: 100%;
height: 100%;

}


#flow1{
z-index: 30;
padding-top: 10em;
}


.dividerstext{
    padding-top: 3em;
    font-size:3em;
    font-family: open sans;
    font-weight: 100;
    z-index:85;
    margin-top: 20px;
    margin-left: 100px;
    text-align: left;
    color: black;
}
