#bold{
  font-weight: 900;
}


#solution{
  margin-top: -9em;
}

@media(max-width: 575px){
  #solution{
    margin-top: -5em;
  }
}

.hero-photo{
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  ". hro ."
  ". lptp .";
  justify-items: center;
  align-items: center;
  padding-bottom: 12em;
}

.laptop{
  width: 100px;
  grid-area: lptp;
  max-width: 500px;
  height: auto;
  width: 100%;
}

.herotitle{
  grid-area: hro;
  padding-top: 5em;
  padding-bottom: 2em;
  text-align: center;
  font-family: "work sans";
  font-size: 3.6rem;
  font-weight: 300;
  max-width: 600px;
  line-height: .9em;
}

@media(max-width: 836px){
  .herotitle{
    padding-top: 6em;
    font-size: 2.3rem;
  }
}

@media(max-width: 575px){
  .herotitle{
    font-size: 2rem;
  }
}

@media(max-width: 375px){
  .herotitle{
    font-size: 2.0rem;
  }
}


/**mobile**/

/**overview**/

.overview{
  margin-top: -1em;
  padding-top: 5em;
  background-color: #f1f1f1;
}

#overviewtext{
  padding-bottom: 5em;
}

@media(max-width: 575px){
  .overview{
    margin-top: -4em;
  }
}


@media(max-width: 400px){
  .overview{
    margin-top: -7em;
  }
}

#protolink{
  grid-area: img;
  padding: 1em 0em 1em 0em;
  font-family: 'work sans';
  font-size: 1.2em;
  font-weight: 200;
}

/**roles**/
.icon{
  height: 5em;
  width: 5em;
  margin-bottom: 2em;
}

hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #000000;
margin: 1em 0;
}

.scopegrid{
  display: grid;
  grid-template-columns: .5fr 100px 100px 100px .5fr;
  grid-template-areas:
  ". roles deliverables tools .";
  text-align: center;
  justify-items: center;
  grid-gap: 10em;
  padding-bottom: 5em;
}

  .deliverables{
    grid-area: deliverables;
  }

  .roles{
    grid-area: roles;
  }

  .tools{
    grid-area: tools;
  }


  ul {
    list-style-type: none;
  }

  @media(max-width: 700px){
    .icon{
      height: 3em;
      width: 3em;
    }

    .scopegrid{
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      ". roles ."
      ". deliverables ."
      ". tools .";
      text-align: center;
      grid-gap: 4em;
    }

  }




.research{
text-align: center;
  background-color: #f4f4f4;
}

.surveytitle{
  text-align: left;
}



/**person++as**/


.personacontent{
  padding-bottom: 4em;
}

@media(max-width: 37em){
  .personaimage{
    margin: 4em;
    max-width: 200px;
    height: auto;
  }
}

.personaimage{
  margin: 4em;
  max-width: 200px;
  height: auto;
}

/**SWOT**/

.competitiveanalysis{
  padding-top: 5em;
}

.drive{
grid-area: drive;
}

.dropbox{
grid-area: dropbox;
}

.tresorit{
grid-area: tresorit;
}


.swotimage{
  height: 10em;
  width: auto;
  padding: 0em 4em 0em 4em;
  margin: 4em 0em 4em;
}

#swotgrid{
  padding: 2em 0em 0em 0em;
}

#squishtext1{
  padding-bottom: 5em;
}

#squishtitle{
    padding: 0em 0em .5em 0em;
    margin: 1em 0em 0em 0em;
    font-size: 2em;
}

@media(max-width: 575px){
  .swotimage{
    height: 7em;
  }
}

@media(max-width: 400px){
  .swotimage{
    height: 5em;
  }
}

/**story beginning**/

.story-table {
    display: grid;
    grid-template-columns: 100px 400px 100px;
    grid-gap:5px;
    font-family: "work sans";
    font-size: 1.2rem;
    line-height: 2em;
}

.story-table > span {
    padding: 8px 4px;
    background-color:#CFD9E2;
}

.stories{
  text-align: center;
  display: grid;
  justify-items: center;
  padding: 5em 0em 5em 0em;
}

@media(max-width: 700px){
  .story-table {
      display: grid;
      grid-template-columns: 70px 100px 70px;
      grid-gap: 5px;
      font-family: "work sans";
      font-size: 1.0rem;
      line-height: 1.3em;
  }

  .story-table > span {
      padding: 8px 4px;
      background-color:#CFD9E2;
  }

  .stories{
    text-align: center;
    display: grid;
    justify-items: center;
  }
}

/**survey start**/

.surveybox{
  padding: 3em 0em 2em 0em;
}
.survey-results{
  display: table;
  max-width: 600px;
  text-align: left;
}

h6{
  font-family: "work sans";
  font-size: 1.6em;
  font-weight: 200;
  line-height: 2.3em;
  overflow-wrap: normal;
}

#title {
  font-size: 2.2em;
  margin-bottom: 1em;
  margin-top: .5em;
  text-align: left;
}

.survey-analysis{
  display: grid;
  justify-items: center;
  margin: .5em 1.5em .5em 1.5em;
}


@media(max-width: 700px){
  .survey-results{
  display: table;
  }

  #title {
    font-size: 2em;
    margin-bottom: .5em;
    margin-top: 1em;
    text-align: center;
    padding-right: 1em;
  }

  h6{
    font-family: "work sans";
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2.3em;
    overflow-wrap: normal;
  }

  .surveybox{
    margin: 0em 3em 0em 3em;
  }
}

.flow-image{
  display: grid;
  justify-items: center;
  margin: 4em;
  max-width: 600px;
  height: auto;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#brandingimage{
  grid-area:img;
  width: 600px;
  height: auto;
  max-width: 60%;
  margin-top: 2em;
}



@media(max-width: 37em){
  .flow-image{
    margin: 2em;
    max-width: 200px;
    height: auto;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #brandingimage{
    grid-area:img;
    width: 600px;
    height: auto;
    max-width: 60%;
    margin-top: 2em;
  }
}

#brandingimage{
  grid-area:img;
  width: 600px;
  height: auto;
  max-width: 60%;
  margin-top: 2em;
}

#brandingsub{
    padding: 0em 0em 0em 0em;
}

#brandingtitle{
    padding: 2em 0em .5em 0em;
}

.branding{
  background-color: #f1F1F1;
}


/**sketches**/
.sketch{
  padding-bottom: 2em;
}

#squishgrid{
  padding-bottom: 1em;
}
/**user testing**/

.testing{
  background-color: #F1F1F1;
}

.testing1{
  grid-area: testing;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 3 auto;
  grid-template-areas:
  ". item1 ."
  ". item2 ."
  ". item3 .";
  }

.testresults1{
  grid-area: item1;
}

.testresults2{
  grid-area: item2;
}

.testresults3{
  grid-area: item3;
}

/**ab testing**/


.abtest{
  grid-area: testing;
  display: grid;
  grid-gap: 4em;
  grid-template-columns: .5fr 298px 298px .5fr;
  grid-template-rows: 2 auto;
  grid-template-areas:
  ". ab1 ab3 ."
  ". ab4 ab2 .";
  justify-items: center;
  PADDING-BOTTOM: 10EM;
}

#abtesttext{
  padding-bottom: 3em;
}

@media(max-width: 700px){
  .abtest{
    grid-area: testing;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: .5fr 1.2fr 1.2fr .5fr;
    grid-template-rows: 2 auto;
    grid-template-areas:
    ". ab1 ab3 ."
    ". ab4 ab2 .";
    justify-items: center;
  }
}

.abone{
  grid-area: ab1;
  max-width: 35em;
  height: auto;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.abtwo{
  grid-area: ab2;
  max-width: 35em;
  height: auto;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.abthree{
  grid-area: ab3;
  max-width: 35em;
  height: auto;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.abfour{
  grid-area: ab4;
  max-width: 35em;
  height: auto;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 100%;
}



@media(max-width: 37em){
  .flow-image{
    margin: 4em;
    max-width: 200px;
    height: auto;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

/**mockup**/

.mockupbackground{
  padding-bottom: 5em;
}

.hi-fi-mockups{
  display: grid;
  grid-gap: 04em;
  grid-template-columns: .5fr 1fr 1fr .5fr;
  grid-template-rows: 4 auto;
  grid-template-areas:
  ". mock1 mock2 ."
  ". mock1 mock3."
  ". mock1 mock4."
  ". mock1 mock5.";
  justify-items: center;
  padding: 5em 0em 5em 0em;
}

.mockup1{
 grid-area:mock1;
 width: 90%;
 height: auto;
}
.mockup2{
 grid-area:mock2;
}
.mockup3{
 grid-area:mock3;
}
.mockup4{
 grid-area:mock4;
}
.mockup5{
 grid-area:mock5;
}

.mockupgrid{
  grid-area:head;
  text-align: left;
  display: grid;
  grid-template-columns: .7fr 1fr .7fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
  " . title ."
  " . para .";

}

.mockup2, .mockup3, .mockup4, .mockup5{
width: 110%;
height: auto;
max-width: 600px;
}



@media(max-width: 55em){
  .hi-fi-mockups{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: .25fr 1fr .25fr;
    grid-template-rows: 5 auto;
    grid-template-areas:
    ". mock1 ."
    ". mock2 ."
    ". mock3 ."
    ". mock4 ."
    ". mock5 .";
  }

  .mockup1{
   grid-area:mock1;
   width: 100%;
   height: auto;
   max-width: 600px;
  }
  .mockup2{
   grid-area:mock2;
  }
  .mockup3{
   grid-area:mock3;
  }
  .mockup4{
   grid-area:mock4;
  }
  .mockup5{
   grid-area:mock5;
  }

  .mockupgrid{
    grid-area:head;
    text-align: left;
    display: grid;
    grid-template-columns: .7fr 1fr .7fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    " . title ."
    " . para .";

  }

  .mockup2, .mockup3, .mockup4, .mockup5{
  width: 100%;
  height: auto;
  max-width: 600px;

  }

}

/**dividers**/

.userimage{
  grid-area: img;
  height: auto;
  width: 100%;
  padding-top: 3em;
}



#end{
  text-align: center;
}

#sketchtitle{
  background-color: #f4f4f4;
}

#sketchtitle2{
  background-color: #f4f4f4;
}

#sketchanim {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 0em;
  padding: 2em 0;
}

#sketchanim:after, #sketchanim:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 3px;
  bottom: 50%;
  left: 0;
}

#sketchanim:before{
  background: linear-gradient(90deg, #F4F4F4 0%, #F4F4F4 50%, transparent 50%, transparent 100%);
  background-size: 5px;
  background-position: center;
  z-index: 1;
}

#sketchanim:after{
  transition: opacity 0.3s ease, -webkit-animation 0.3s ease;
  transition: opacity 0.3s ease, animation 0.3s ease;
  transition: opacity 0.3s ease, animation 0.3s ease, -webkit-animation 0.3s ease;
  background: linear-gradient(to right, #62efab 5%, #F2EA7D 15%, #F2EA7D 25%, #FF8797 35%, #FF8797 45%, #e1a4f4 55%, #e1a4f4 65%, #82fff4 75%, #82fff4 85%, #62efab 95%);
  background-size: 200%;
  background-position: 0%;
  -webkit-animation: bar 15s linear infinite;
          animation: bar 15s linear infinite;
}

#sketchanim:before {
  background: linear-gradient(90deg, #F4F4F4 0%, #F4F4F4 5%, transparent 5%, transparent 10%, #F4F4F4 10%, #F4F4F4 15%, transparent 15%, transparent 20%, #F4F4F4 20%, #F4F4F4 25%, transparent 25%, transparent 30%, #F4F4F4 30%, #F4F4F4 35%, transparent 35%, transparent 40%, #F4F4F4 40%, #F4F4F4 45%, transparent 45%, transparent 50%, #F4F4F4 50%, #F4F4F4 55%, transparent 55%, transparent 60%, #F4F4F4 60%, #F4F4F4 65%, transparent 65%, transparent 70%, #F4F4F4 70%, #F4F4F4 75%, transparent 75%, transparent 80%, #F4F4F4 80%, #F4F4F4 85%, transparent 85%, transparent 90%, #F4F4F4 90%, #F4F4F4 95%, transparent 95%, transparent 100%);
  background-size: 150px;
  background-position: center;
  z-index: 1;
  -webkit-animation: bar 120s linear infinite;
          animation: bar 120s linear infinite;
}
#sketchanim:hover:before {
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
}
#sketchanim:hover:after {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}



.dividegrid1{
  display:grid;
  grid-template-columns: .5fr 600px .5fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". separate .";
  padding-top: 10em;
}

.dividegrid{
  grid-area: separate;
}

.hr {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 0em;
  padding: 2em 0;
}
.hr:after, .hr:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 50%;
  left: 0;
}
.hr:before {
  background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 50%, transparent 50%, transparent 100%);
  background-size: 05px;
  background-position: center;
  z-index: 1;
}
.hr:after {
  transition: opacity 0.3s ease, -webkit-animation 0.3s ease;
  transition: opacity 0.3s ease, animation 0.3s ease;
  transition: opacity 0.3s ease, animation 0.3s ease, -webkit-animation 0.3s ease;
  background: linear-gradient(to right, #62efab 5%, #F2EA7D 15%, #F2EA7D 25%, #FF8797 35%, #FF8797 45%, #e1a4f4 55%, #e1a4f4 65%, #82fff4 75%, #82fff4 85%, #62efab 95%);
  background-size: 200%;
  background-position: 0%;
  -webkit-animation: bar 15s linear infinite;
          animation: bar 15s linear infinite;
}
@-webkit-keyframes bar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
@keyframes bar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
.hr.anim:before {
  background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 5%, transparent 5%, transparent 10%, #FFFFFF 10%, #FFFFFF 15%, transparent 15%, transparent 20%, #FFFFFF 20%, #FFFFFF 25%, transparent 25%, transparent 30%, #FFFFFF 30%, #FFFFFF 35%, transparent 35%, transparent 40%, #FFFFFF 40%, #FFFFFF 45%, transparent 45%, transparent 50%, #FFFFFF 50%, #FFFFFF 55%, transparent 55%, transparent 60%, #FFFFFF 60%, #FFFFFF 65%, transparent 65%, transparent 70%, #FFFFFF 70%, #FFFFFF 75%, transparent 75%, transparent 80%, #FFFFFF 80%, #FFFFFF 85%, transparent 85%, transparent 90%, #FFFFFF 90%, #FFFFFF 95%, transparent 95%, transparent 100%);
  background-size: 150px;
  background-position: center;
  z-index: 1;
  -webkit-animation: bar 120s linear infinite;
          animation: bar 120s linear infinite;
}
.hr.anim:hover:before {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.hr.anim:hover:after {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.divideit {
  grid-area: "separate";
  background: #FFFFFF;
  font-family: 'work sans';
  font-weight:600;
  color: #000000;
  text-indent: 1em;
}

.infoarch{
    line-height: .3em;
    padding-top: 1em;
}


#dividetext {
  margin-left: -.3em;
  margin-bottom: -0.5em;
  font-size: 4em;
}

@media(max-width: 750px){
  .dividegrid1{
    display:grid;
    grid-template-columns: .25fr 1fr .25fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". separate .";
    padding-top: 5em;
  }

  .dividegrid{
    grid-area: separate;
  }

  .divideit {
    grid-area: "separate";
    background: #FFFFFF;
    font-family: 'work sans';
    font-weight:600;
    color: #000000;

  }

  #dividetext {
    line-height: 1;
    margin-bottom: -0.5em;
    font-size: 3em;
  }

  .hr {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    margin-bottom: 0em;
    padding: 2em 0;
  }
  .hr:after, .hr:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 50%;
    left: 0;
  }
  .hr:before {
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 50%, transparent 50%, transparent 100%);
    background-size: 05px;
    background-position: center;
    z-index: 1;
  }
  .hr:after {
    transition: opacity 0.3s ease, -webkit-animation 0.3s ease;
    transition: opacity 0.3s ease, animation 0.3s ease;
    transition: opacity 0.3s ease, animation 0.3s ease, -webkit-animation 0.3s ease;
    background: linear-gradient(to right, #62efab 5%, #F2EA7D 15%, #F2EA7D 25%, #FF8797 35%, #FF8797 45%, #e1a4f4 55%, #e1a4f4 65%, #82fff4 75%, #82fff4 85%, #62efab 95%);
    background-size: 200%;
    background-position: 0%;
    -webkit-animation: bar 15s linear infinite;
            animation: bar 15s linear infinite;
  }
  @-webkit-keyframes bar {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
  @keyframes bar {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
  .hr.anim:before {
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 5%, transparent 5%, transparent 10%, #FFFFFF 10%, #FFFFFF 15%, transparent 15%, transparent 20%, #FFFFFF 20%, #FFFFFF 25%, transparent 25%, transparent 30%, #FFFFFF 30%, #FFFFFF 35%, transparent 35%, transparent 40%, #FFFFFF 40%, #FFFFFF 45%, transparent 45%, transparent 50%, #FFFFFF 50%, #FFFFFF 55%, transparent 55%, transparent 60%, #FFFFFF 60%, #FFFFFF 65%, transparent 65%, transparent 70%, #FFFFFF 70%, #FFFFFF 75%, transparent 75%, transparent 80%, #FFFFFF 80%, #FFFFFF 85%, transparent 85%, transparent 90%, #FFFFFF 90%, #FFFFFF 95%, transparent 95%, transparent 100%);
    background-size: 150px;
    background-position: center;
    z-index: 1;
    -webkit-animation: bar 120s linear infinite;
            animation: bar 120s linear infinite;
  }
  .hr.anim:hover:before {
    -webkit-animation-duration: 50s;
            animation-duration: 50s;
  }
  .hr.anim:hover:after {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
}
