* {
  box-sizing: border-box;
}

body {
  background-color: #36431D;
  padding-bottom: 5rem;
}

.container {
  background-color: white;
  height: 100rem;
  margin: 0 auto;
  width: 50rem
}

html {
  font-size: 10px;
}
