
.body1{
  padding-top: 10em;
  padding-bottom: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'work sans';
  font-weight: 100;
  color: #353535;
  position: relative;
}

.text{
  display: inline-block;
  font-size: 5em;
  line-height: 1.205;
}




@media(max-width: 55em){
.body1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'abel';
  font-weight: 900;
  color: #353535;
  position: relative;
}

.text{
  display: inline-block;
  font-size: 8vmin;
  line-height: 1.205;
}
}

@media(max-width: 37em){
.body1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'abel';
  font-weight: 900;
  color: #353535;
  position: relative;
}

.text{
  display: inline-block;
  font-size: 5vmin;
  line-height: 1.205;
}
}

.text__first, .text__second{
  position: relative;
}

.text__word{
  opacity: 0;
}

.text__first-bg, .text__second-bg{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transform-origin: left;
  transform: scaleX(0);
}

.text__first-bg{
  background-color: #C87B84;
}

.text__second-bg{
  background-color: #C3E9E9;
}

.text__second{
  margin-left: 15vmin;
}

.restart{
  position: absolute;
  font-size: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border: none;
  border-bottom: 1px dotted grey;
  padding: 0;
  margin: 0 auto 2%;
  cursor: pointer;
  color: grey;
}
/*CONTAINER*/
.container {
  display: flex;
  margin: 1em;
}

/*HERO*/

.hero {
background-color: #FFFFFF;
width: 100%
}

.slogan {
  text-align: center;
  font-family: "work sans";
  font-weight: 100;
  color: #000000;
  font-size: 3em;
  line-height: 1em;
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 3em;
  padding-bottom: 15em;
}

.arrow {
  color: #FFFFFF;
  font-size: 20pt;
  line-height: 1cm;
  text-align: center;
  padding-bottom: 2em;
  padding-top: 2em;
}

@media(max-width: 37em){
  .slogan {
    font-size: 2em;
    padding-bottom: 4em;
  }
  .arrow {
  display: none;
  }
}


@media(max-width: 37em){
  .arrow {
    color: #FFFFFF;
    font-size: 20pt;
    line-height: 1cm;
    padding-bottom: 2em;
    padding-top: .5em;
    text-align: center;
  }
}

.project{
  display: inline-block;
  grid-gap: 10px;
  width: 100%;
}

.project1{
  margin-bottom: 10em;
  margin-left: 4em;
}
.casestudygrid{
  display: grid;
  grid-template-columns: .7fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "item2 item1";
  align-items: center;
  text-align: center;
  padding-bottom: 10em;
}

.photo1{
  grid-area: item1;
  width: 50%;
  margin-left: 15em;
}

.description{
  grid-area: item2;
  align-items: center;
  width: 50%;
  margin-left: 10em;
}

.project2{
  margin-bottom: 20em;
  margin-left: 4em;
}

.casestudygrid2{
  display: grid;
  grid-template-columns: 1fr .7fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "item3 item4";
  align-items: center;
  text-align: center;
}


.photo2{
  grid-area: item3;
  width: 50%;
  margin-left: 15em;
}

.studybutton{
  width: 150px;
  padding-top: 2.5em;
}

h1{
  font-family: "work sans";
  font-size: 2em;
  font-weight: 400;
  line-height: 3em;

}

h2{
  font-family: "work sans";
    font-size: 1.5em;
    line-height: 1.5em;
  font-weight: 200;
}

.description2{
  grid-area: item4;
  align-items: center;
  width: 50%;

}

.photo1 > img {
  object-fit: cover;
  width: 40%;
  max-height: 100%;
}

.project1 > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}


@media(max-width: 900px){
.casestudygrid2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .7fr;
  grid-template-areas:
  "item3"
  "item4";
  align-items: center;
  text-align: center;
}
  .photo2{
    grid-area: item3;
    width: 50%;
    text-align: center;
  }

  .description2{
    text-align: center;
    grid-area: item4;
    text-align: center;
  }

  .casestudygrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .7fr;
    grid-template-areas:
    "item1"
    "item2";
    align-items: center;
    text-align: center;
    padding-bottom: 10em;
  }

  .photo1{
    grid-area: item1;
    width: 50%;
    margin-left: 15em;
  }

  .description{
    grid-area: item2;
    align-items: center;
    width: 50%;
    margin-left: 10em;
  }
}




/**footer**/

.centergrid{
  text-align: center;
}

/**project hover**/
