/** PAGE ESSENTIALS **/
html, body {
  font-size: 10px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 350px;
}

ul{
  list-style: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: 1em;
}

.textgrid{
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
  " . title ."
  " . para ."
  " . img . ";
  text-rendering: optimizeLegibility;
  padding: 5em 0em 5em 0em;
  justify-items: left;
}

@media(max-width: 750px){
  .textgrid{
    text-align: left;
    display: grid;
    grid-template-columns: .25fr 1fr .25fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    " . title ."
    " . para ."
    " . img . ";
    text-rendering: optimizeLegibility;
    padding: 5em 0em 5em 0em;
    justify-items: left;
  }
}


.subtitle{
  grid-area: title;
  font-family: "work sans";
  font-size: 2.2em;
  font-weight: 400;
  padding: 1em 0em 1em 0em;
  text-align: left;
}

.content {
  grid-area: para;
  text-align: left;
  font-family: "work sans";
  font-size: 14pt;
  font-weight: 200;
  line-height: 1.4em;
  text-rendering: optimizeLegibility;
}

ol {
  grid-area: para;
  text-align: left;
  font-family: "work sans";
  font-size: 16pt;
  font-weight: lighter;
}

.result1{
  display:
}

.large-content{
  text-align: center;
  font-family: "work sans";
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 300;
}

.med-title{
  text-align: center;
  font-family: "work sans";
  font-size: 1.6em;
  line-height: 1.4em;
  font-weight: 300;
}

@media(max-width: 575px){
  .subtitle{
    font-size: 1.8em;
  }

  .content {
    text-align: left;
    font-family: "work sans";
    font-size: 12pt;
    line-height: 1.5em;
  }

  ol {
    grid-area: para;
    text-align: left;
    font-family: "work sans";
    font-size: 13pt;
    font-weight: lighter;
  }
}

@media(max-width: 375px){
  .subtitle{
    font-size: 1.6em;
    font-weight: 400;
  }

  .content {
    font-size: 12pt;
  }

  ol {
    grid-area: para;
    text-align: left;
    font-family: "work sans";
    font-size: 12pt;
    font-weight: lighter;
  }
}


.navlogo{
  width: auto;
  height: 4.5em;
}

nav {
  display: table;
  font-family: "work sans";
  margin: 0 auto;
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
  padding: 5em 5em 5em 5em;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
}

nav img {
  float: left;
}

nav ul {
  float: right;
  color: #4A4A4A;
    padding-top: 1.2em;

}

nav ul li {
  display: inline-block;
  font-family: "work sans";
  font-size: 2em;
  font-weight: 200;
  list-style: none;

}

nav ul li a:hover, .side-nav a:hover {
  color: #C87B84;
}

@media(max-width: 890px){
  nav ul li {
    font-size: 1.3em;
  }
  .navlogo{
    height: 3.5em;
  }
}

@media(max-width: 575px){
  nav ul li {
    font-size: 1.2em;
  }
  .navlogo{
    height: 3.0em;
  }
  nav{
    padding: 3em 3em 3em 3em;
  }
}

@media(max-width: 375px){
  nav ul li {
    font-size: 1.1em;
  }
  .navlogo{
    height: 2.5em;
  }
  nav{
    padding: 2em 2em 2em 2em;
  }
}

/*FOOTER*/

/**mobile**/
.sectiontitle {
  text-align: center;
  font-family: "work sans";
  font-size: 16pt;
  font-weight: lighter;
  line-height: 24pt;
}

.sectionbody {
  padding-top: 20px;
  text-align: center;
  font-family: "work sans";
  font-size: 12pt;
  font-weight: 100;
  line-height: 24px;
  padding-bottom: 6em;
  padding: 2em 3em 5em 3em;
}

/**desktop**/
@media(min-width: 550px){
  .sectiontitle {
    text-align: center;
    font-family: "work sans";
    font-size: 16pt;
    font-weight: 100;
  }

  .sectionbody {
    text-align: center;
    font-family: "work sans";
    font-size: 14pt;
    font-weight: 100;
  }

}

.greyfooter{
  background-color: GREY;
  padding-bottom: 2em;
}

.icons{
  display:grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "linked git";
  padding-top: 3em;
  padding-bottom: 1em;

}

.linkedin {
  text-align: right;

}
.github{
  text-align: left;
}

.minitype{
  display: grid;
  font-family: "work sans";
  background-color: GREY;
  text-align: center;
  font-size: 1em;
  color: #FFFFFF;
  height: 4em;
  padding: 1em;
}

/**button**/

#hello:hover {
  letter-spacing: 0.8em;
  background-color: #F08C99;
}

#hello {
  color: #000000;
}

button {
  grid-area: btn;
  height: 4em;
  padding: 1.5em auto;
  margin: 1em auto;
  background-color: #C87B84;
  font-family: "work sans";
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);

}

  a:link {
    text-decoration: none;
    color: #000000;
  }

  a:visited {
    text-decoration: none;
    color: #000000;
  }

  a:hover {
    text-decoration: none;
    color: #C87B84;
  }

  a:active {
    text-decoration: none;
    color: #000000;
  }
