html,body {
font-size:10px;
height:100%;
width:100%;
min-width:350px;
margin:0;
padding:0;
scroll-behavior: smooth;
}

.pinksplash{
background-image: -webkit-linear-gradient(rgba(000,000,000,0) 50%, #DCAEB3 10%);
background-image: -o-linear-gradient(rgba(000,000,000,0) 50%, #DCAEB3 10%);
background-image: linear-gradient(rgba(000,000,000,0) 50%, #DCAEB3 10%);
}

.aquasplash{
background-image: linear-gradient(180deg,rgba(000,000,000,0) 50%, #C3E9E9 10%);
}

ul {
list-style:none;
}

* {
box-sizing:border-box;
}

.container {
display:flex;
z-align:10;
margin:1em;
}

.subtitle {
grid-area:title;
font-family:"nunito";
font-size:2.2em;
font-weight:400;
text-align:left;
padding: 0em 0em .3em 0em;
}

.content {
grid-area:para;
text-align:left;
font-family:"nunito";
font-size:18px;
font-weight:300;
line-height:1.4em;
text-rendering:optimizeLegibility;
}



#problemcontent {
padding-bottom:3em;
}

ol {
grid-area:para;
text-align:left;
font-family:"nunito";
font-size:16px;
font-weight:lighter;
}

.large-content {
text-align:center;
font-family:"nunito";
font-size:1.8em;
line-height:1.5em;
font-weight:300;
}

.med-title {
text-align:center;
font-family:"nunito";
font-size:2.6em;
line-height:1.4em;
font-weight:300;
}

.navlogo {
width:auto;
height:4.5em;
}

nav {
display:table;
font-family:"nunito";
overflow:hidden;
position:fixed;
top:0;
width:100%;
background-color:#FFF;
z-index:99;
margin:0 auto;
padding:3em 5em 3em 5em;
}

nav a {
color:#FFF;
text-decoration:none;
margin:0 .6em;
}

nav img {
float:left;
}

nav ul {
float:right;
color:#4A4A4A;
padding-top:1.2em;
}

nav ul li {
display:inline-block;
font-family:"nunito";
font-size:2em;
font-weight:200;
list-style:none;
}

nav ul li a:hover,.side-nav a:hover {
color:#C87B84;
}

.sectiontitle {
text-align:center;
font-family:"nunito";
font-size:16px;
font-weight:lighter;
line-height:24px;
}

.sectionbody {
text-align:center;
font-family:"nunito";
font-size:14px;
font-weight:300;
line-height:24px;
padding:0 3em;
}

.greyfooter {
background-color:#F0F0F3;
padding-bottom:2em;
}

.icons {
display:grid;
grid-gap:1em;
grid-template-columns:1fr 1fr;
grid-template-rows:1fr;
grid-template-areas:"linked git";
padding-top:3em;
padding-bottom:1em;
}

.linkedin {
text-align:right;
}

.github {
text-align:left;
}

.minitype {
display:grid;
font-family:"nunito";
background-color:#F0F0F3;
text-align:center;
font-size:1em;
color:#4A4A4A;
height:4em;
padding:1em;
}

#hello:hover {
letter-spacing:.8em;
background-color:#F08C99;
}

#hello {
color:#000;
}


a:hover {
text-decoration:none;
color:#C87B84;
}

.message {
display:grid;
justify-content:center;
grid-template-columns:.5fr 2fr .5fr;
grid-template-rows:1fr;
grid-template-areas:". message .";
justify-items:center;
align-items:center;
text-align:center;
padding:10em 0;
}

.endmessage {
grid-area: message;
text-align:center;

}

.end {
color: #4a4a4a;
font-weight:300;
text-align:center;
font-family: "nunito";
font-size: 1.8em;
line-height: 1.5em;
font-weight: 300;
}

#endfont{

}



nav a {
text-decoration:none;
color:#4a4a4a;
}


@media(max-width:575px){
.subtitle {
font-size:1.8em;
padding: .2em 0em .2em 0em;
}

.content {
text-align:left;
font-family:"nunito";
font-size:13px;
line-height:1.5em;
}

.personatitle{
  text-align:left;
  font-family:"nunito";
  font-size:13px;
  line-height:1.5em;
  font-weight: 500;
}

ol {
grid-area:para;
text-align:left;
font-family:"nunito";
font-size:13px;
font-weight:lighter;
}

nav ul li {
font-size:1.2em;
font-weight: 300;
}

.navlogo {
height:3em;
}

nav {
padding:3em;
}
}

@media(max-width:375px){
.subtitle {
font-size:1.6em;
font-weight:400;
}

.content {
font-size:14px;
}

ol {
grid-area:para;
text-align:left;
font-family:"nunito";
font-size:12px;
font-weight:lighter;
}

nav ul li {
font-size:1.1em;
}

.navlogo {
height:2.5em;
}

nav {
padding:2em;
}
}

@media(max-width:890px){
nav ul li {
font-size:1.3em;
}

.navlogo {
height:3.5em;
}
}

@media(min-width: 375px){
  .sectiontitle {
    padding-bottom: 1em;
  }
}

@media(max-width:550px){
.sectiontitle {
text-align:center;
font-family:"nunito";
font-size:16px;
font-weight:100;
}

.sectionbody {
text-align:center;
font-family:"nunito";
font-size:14px;
font-weight:300;
}
}

.contactdivide{
  width: 50%;

}

.studybutton {
  border: none;
  background: #C87B84;
  color: #ffffff;
  font-weight: 400;
  padding: 10px 15px 10px 15px;
  text-transform: uppercase;
  border-color: #C87B84;
  border-radius: 6px;
  border-width: medium;
  border-style: solid;
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none;
  font-family: "nunito";
  margin-top: 1em;
  transition: all 0.3s ease 0s;
  letter-spacing: 1px;
}

.studybutton:hover {
  font-weight: 700 !important;
  letter-spacing: 3px;
  color: #C87B84;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}


/* unvisited link */
.studybutton a:link {
  color: #C87B84;
  font-weight: 400;
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* mouse over link */


/* selected link */
a:active {
  color: black;
    text-decoration: none;
}


.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */

}
.slideanim.slide {
    visibility: visible;
    animation: slide .7s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
